.col-pad-center {
  text-align: center;
  padding-left: 4rem;
}

.author {
  color: #000;
  text-decoration: none;
}

.top-pad {
  padding-top: 15rem;
}

.top-pad2 {
  padding-top: 5rem;
}

.no-pad {
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(143, 143, 143);
}