{% extends 'generic.html' %}

{% block title %}Flask-Login-Boilerplate - Home{% endblock %}

{% block content %}

<div class="top-pad">
<div class="row">
  <h1>Flask-Login-Boilerplate</h1>
</div>
</div>

<div class="row">
  <h3>Simple user authorization and authentication.</h3>
</div>

<br />
<div class="row">
  <div class="col-md-12 no-pad">
    <p>
    This is a boilerplate for Flask login and sign up that you can use for your flask websites.
    It uses user authorization and authentication to display user specific content.
    I used <b>flask_login</b>, <b>werkzeug.security</b>, <b>Flask-SQLAlchemy</b> for this project.
    </p>
  </div>
  <br />
  <button type="button" class="btn btn-dark"> <a href="https://github.com/endormi/flask-login-boilerplate">GitHub project</a></button>
</div>

<br />
<br />
<div class="card">
  <div class="card-body">
    Author <a href="https://github.com/endormi" class="author">Endormi</a> (<a href="https://dev.to/endormi" class="author">Dev.to</a>, <a href="https://twitter.com/_endormi" class="author">Twitter</a>)
  </div>
</div>

{% endblock %}
